#logo{
display: flex;
padding: 10pX 20px;
zoom: 4%;
}
body{
    background: black;
   color:black;
   bacground-color: rb(251, 247, 242);
    font-size: 18px;
    background-image:url(images/background.png.jpg);
    background-position: center;
    background-attachment: fixed;
    background-position-y: 35%;
   
    
    
    
}
/*-------welcome message-------*/
#welcome_massage{
    color: blue;
    text-align: center;
    font-size: 1rem;
}
/*-------profile-------*/
#profile{
    
    padding: 10% 20% 10% 20%;
    color: black;
    justify-items: center;
    font-size: 2rem;
    
}
/*-------header-------*/
header{

    resize: both;
    zoom: 200%;
    background-color: black;
    
   
    
}
#controls{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 5ch;
    
    
   
    
   
}
#heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    
   
}
#heading a{
    text-decoration: none;
   color: white;
   justify-content: space-between;
   align-content: center;
    
}
#channels{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-decoration: none;
    text-size-adjust: 10px;
}
#channels a{
    text-decoration: none;
    color: black;
   
}
.production{
    text-align: center;
}

/*-----------about-----------*/

.about{
    padding: 60px 0px;
    color: #ababab;

}
.rows{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
    display: block;
}
.about-col-1 img{
    width: 60%;
    border-radius: 10px;
   
}
.about-col-2{
    flex-basis: 65%;
    font-style: normal;
    display: block;
}
#sub-title{
    font-size: 10PX;
    font-weight: 500;
    color: black;
    text-decoration: none;
    
}

.tab-titles{
    display: flex;
    justify-content: space-between;
   
    
   
}

.tab-links{
margin-right: 50px;
font-size: 25px;
font-weight: 100%;
cursor: pointer;
position: relative;
font-display: 20px;
width: 4%;
display: flex;
}

.tab-links:hover{
    width: 40px;
    content: '';
    height: 3px;
    background:red;
    left: 5;
    transition: 1s;
    font-weight: 1000;
    font-size: 100%;
    color: blue;
    text-decoration: underline;

}
.tab-links.active-links::{
    width: 100px;
    display: flex;
    

}
.tab-links-active-tabs1{
    color: black;
    background: oklch(89.91% 0.0499 80.966);
   margin: 20px 20px 20px 20px;
}
.tab-links-active-tabs3{
    color:black;
    background:  oklch(89.851% 0.04839 82.663);
    margin: 20px 20px 20px 20px;

}
.tab-links-active-tabs2{
    color:black;
    background: oklch(87.928% 0.04802 82.676);
    margin: 20px 20px 20px 20px;

    

}
.tab1{
    display: block;
}
/*-------------------services----------*/

.canva{

 border-radius: 5%;
 zoom: 16%;
 height: 80%;

}
#rows{
    display: flex;
    justify-content: space-between;
    content: fleax
}
.content-left{
    justify-content: space-between;
   
    
}
.content-right form{
    justify-content: space-between;
    display: block;
    align-items: center;`

}
/*--------my work-----*/

.services{
    padding: 60px 0px;
    color: #ababab;

}
.rows{
    display: flex;
    justify-content: space-between;
}
.about-col-1{
    flex-basis: 35%;
    display: block;
    font-size: 2rem;
   
}
.about-col-1 img{
    width: 90%;
    border-radius: 10px;
    height: 80%;
    
   
}
.about-col-2{
    flex-basis: 65%;
    font-style: normal;
    display: block;
}
#sub-title{
    font-size: 100PX;
    font-weight: 500;
    color: black;
    
}

.tabs-titles{
    display: grid;
    justify-content: space-between;
    padding: 20px 10px 10px 10px;
    margin-right: 5em;
   
    
   
}
.tabs-titles:hover{
   cursor: pointer;
   
  
  
}

.tabs-links{
margin-right: 50px;
font-size: 30px;
font-weight: 100%;
cursor: pointer;
position: relative;
font-display: 20px;
width: 35%;
border: 2rem;
background: black;
color: white;
}

.tabs-links:hover{
    width: 40px;
    content: '';
    height: 5px;
    background:red;
    transition: 20s;
    font-weight: 1000;
    font-size: 100%;
    color:red;
    text-decoration: underline;

}
.tab-links.active-links::{
    width: 100px;
    display: grid;
    

}
.tabs-links-active-tabs img{
    width: 50%;
    height: 20%;
}
.tab1{
    display: flex;
}
#decos {
    background-color:white;
    border-radius: 10px;
    padding: 10px 20px;
    text-decoration: none;

    
}
/*-------contact------*/
.content-left{
    flex-basis: 35%;
    display: block;
    font-size: 2rem;
    color: black;
    padding-left: 10%;
}
.content-right form{
    justify-content: space-between;
    display: grid;
    color: black;
    padding: 40px 500px 40px 50px;
    width: 100%;
    height: 90%;

    
}
.social-links a{
    color: black;
    
}
.downlaod-cv{
    width: 100px;

}

/*--------footer--------*/
footer{
    background-color:black;
    color: white;
    padding: 0% 5% 5% 5%;
    margin: 10% 0% 0% 0%;
    
   
}
